
.idea/
*.iml
.gradle/
local.properties
build/
*/build/
*/*/build/
captures/


.kotlin/
*.class
*.log


gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat


.DS_Store
Thumbs.db
desktop.ini


*.jks
*.keystore


*.log
*.tmp
